<div id="<%= dom_id season %>">

  <%= image_tag("https://image.tmdb.org/t/p/w500/#{season.poster_path}", class: "object-contain h-80 w-120")%>
  <p>
    <strong>Season number:</strong>
    <%= season.season_number %>
  </p>

  <p>
    <strong>Episode count:</strong>
    <%= season.episode_count %>
  </p>

  <p>
    <strong>Air date:</strong>
    <%= season.air_date %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= season.overview %>
  </p>
  <% if action_name == 'show' && @data != nil %>
    <div class="mb-2">
      <% @data['episodes'].each do |episode| %>
        <div class="mb-2">
          <ul>
            <li>Episode Number: <%= episode['episode_number'] %></li>
            <li>Episode Name: <%= episode['name'] %></li>
            <li>Runtime: <%= episode['runtime'] %> minutes</li>
            <li>Air date: <%= episode['air_date'] %></li>
            <li>Overview <%= episode['overview'] %></li>
          </ul>
          <hr>
        </div>

      <% end %>

    </div>
  <% elsif action_name == 'show' &&@data == nil %>
    <div>
      <p>We had some trouble pulling the episode data. Try again later!</p>
    </div>
  <% end %>
</div>
