<div id="<%= dom_id season %>">
  <p>
    <strong>Name:</strong>
    <%= season.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= season.content_id %>
  </p>

  <p>
    <strong>Season number:</strong>
    <%= season.season_number %>
  </p>

  <p>
    <strong>Episode count:</strong>
    <%= season.episode_count %>
  </p>

  <p>
    <strong>Air date:</strong>
    <%= season.air_date %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= season.overview %>
  </p>

  <p>
    <strong>Poster path:</strong>
    <%= season.poster_path %>
  </p>

</div>
