<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: "uppercase text-gray-700 text-xs font-bold" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password, class: "uppercase text-gray-700 text-xs font-bold" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "uppercase text-gray-700 text-xs font-bold" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, class: "uppercase text-gray-700 text-xs font-bold" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :username, class: "uppercase text-gray-700 text-xs font-bold" %><br />
    <%= f.text_field :username, autocomplete: "username", class: "shadow appearance-none border rounded  px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :first_name, class: "block uppercase text-gray-700 text-xs font-bold"%><br />
    <%= f.text_field :first_name, autocomplete: "first name", class: "shadow appearance-none border rounded  px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :last_name, class: "uppercase text-gray-700 text-xs font-bold" %><br />
    <%= f.text_field :last_name, autocomplete: "last name", class: "shadow appearance-none border rounded px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :words_to_live_by, "Words to live by", class: "uppercase text-gray-700 text-xs font-bold" %><br />
    <%= f.text_field :words_to_live_by, autocomplete: "Words to live by", class: "shadow appearance-none border rounded px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :age, class: "uppercase text-gray-700 text-xs font-bold" %><br />
    <%= f.number_field :age, class: "shadow appearance-none border rounded px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", max: 100, min: 13 %>
  </div>
  <div class="mb-3">
    <%= f.label :location, class: "uppercase text-gray-700 text-xs font-bold" %><br />
    <%= f.text_field :location, class: "shadow appearance-none border rounded px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :avatar, class: "uppercase text-gray-700 text-xs font-bold" %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "inline-block text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg
                        text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-pink-800" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,
                            class: "inline-block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg
                        text-sm px-5 py-2.5 my-3 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" %></div>

<%= link_to "Back", :back, class: "inline-block text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg
                        text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-pink-800" %>
