<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2"  %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :username, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold" %><br />
    <%= f.text_field :username, autocomplete: "username", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :first_name, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold"%><br />
    <%= f.text_field :first_name, autocomplete: "first name", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :last_name, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold" %><br />
    <%= f.text_field :last_name, autocomplete: "last name", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :words_to_live_by, "Words to live by", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold" %><br />
    <%= f.text_field :words_to_live_by, autocomplete: "Words to live by", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :age, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold" %><br />
    <%= f.number_field :age, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>
  <div class="mb-3">
    <%= f.label :location, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold" %><br />
    <%= f.text_field :location, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
