<div id="<%= dom_id season_viewing %>">
    <%# season_viewing.tmdb_id %>

    <%# season_viewing.content_id %>

  <p>
    <strong>Show:</strong>
    <%# season_viewing.show_id %>
  </p>

    <%# season_viewing.user_id %>
  <p>
    <strong>Viewing:</strong>
    <%= season_viewing.viewing_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= season_viewing.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= season_viewing.note %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= season_viewing.progress %>
  </p>

</div>
