<%= form_with(model: viewing) do |form| %>
  <% if viewing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(viewing.errors.count, "error") %> prohibited this viewing from being saved:</h2>

      <ul>
        <% viewing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status, "Not Started", style: "display: block" %>
    <%= form.radio_button :status, 'not_started' %>
  </div>
  <div>
    <%= form.label :status, "Watching", style: "display: block" %>
    <%= form.radio_button :status, 'watching' %>
  </div>
  <div>
    <%= form.label :status, "On Hold", style: "display: block" %>
    <%= form.radio_button :status, 'on_hold' %>
  </div>
  <div>
    <%= form.label :status, "Finished", style: "display: block" %>
    <%= form.radio_button :status, 'finished' %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_area :note %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%# form.hidden_field :tmdb_id, :tmdb_id => params[:tmdb_id].to_i %>
  </div>

  <div>
    <%= form.label :progress, style: "display: block" %>
    <%= form.number_field :progress %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
