<div id="<%= dom_id viewing %>">
  <p>
    <strong>Status:</strong>
    <%= viewing.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= viewing.note %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= viewing.movie_id %>
  </p>

  <p>
    <strong>Tv:</strong>
    <%= viewing.tv_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= viewing.name %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= viewing.progress %>
  </p>

  <p>
    <strong>User:</strong>
    <%= viewing.user_id %>
  </p>

</div>
