<div id="<%= dom_id viewing %>" class="my-3">
  <div class="my-3">
  <% @show = Show.where(tmdb_id: viewing.tmdb_id).first %>
  <%# @user = User.find(viewing.user_id) %>
  <%# @user = viewing.user %>
  <p>
    <strong>Watcher:</strong>
    <%= viewing.user.first_name %> <%= viewing.user.last_name %>
  </p>
  <p>
    <strong>Status:</strong>
    <% if viewing.status == 'not_started' %>
    Not Started
    <% elsif viewing.status == 'watching' %>
    Watching
    <% elsif viewing.status == 'on_hold' %>
    On Hold
    <% elsif viewing.status == 'finished' %>
    Finished
    <% end %>
  </p>
    <p><em>
      Started: <%= viewing.created_at.strftime('%d/%m/%Y') %>
    </em></p>
  <%# if action_name == 'show' %>
  <%# @data %>
  <%# end %>
  <% if action_name == 'show' && user_signed_in? && current_user == viewing.user %>
    <p class="mb-3">
      <strong>Personal Note:</strong>
      <%= viewing.note %>
    </p>
    <%= link_to 'Write a review of this show',
                new_review_path(viewing_id: viewing.id, tmdb_id: viewing.tmdb_id),
                class: "text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-300 font-medium
                rounded-lg text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700
                focus:outline-none dark:focus:ring-pink-800" %>
      <%= link_to 'Recommend this show to a friend',
                  new_recommend_path(viewing_id: viewing.id, tmdb_id: viewing.tmdb_id),
                  class: "text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-300 font-medium
                rounded-lg text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700
                focus:outline-none dark:focus:ring-pink-800" %>
  <% end %>
  </div>
  <% if action_name == 'show' && @data != nil %>
    <div>
      <ul id=<%= viewing.tmdb_id %>>
        <%# data %>
        <%= image_tag("https://image.tmdb.org/t/p/w500/#{@data['poster_path']}", class: "object-contain h-80 w-120")%>
        <li>Name: <%= @data['name'] %> </li>
        <li>Original Language: <%= @data['original_language'] %> </li>
        <li>Original Name: <%= @data['original_name'] %> </li>
        <li>Overview: <%= @data['overview'] %></li>
        <li>Episode Run Time: <%= @data['episode_run_time'] %> - minutes </li>
        <li>Number of Seasons: <%= @data['number_of_seasons'] %></li>
        <li>Currently Airing: <%= @data['in_production'] == true ? "Airing" : "Not Airing" %></li>
        <% @data['genres'].each do |genre| %>
          <li>Genre: <%= genre['name'] %></li>
        <% end %>
      </ul>
      <h3 class="mb-3">Seasons</h3>
      <div>
        <% @data['seasons'].reverse.each do |season| %>
          <% if season['season_number'] != 0 %>
          <div id=<%= season['id'] %>, class="mb-2">
            <ul>
              <li><%# season %></li>
              <%= image_tag("https://image.tmdb.org/t/p/w500/#{season['poster_path']}", class: "object-contain h-80 w-120")%>
              <li>Season Number: <%= season['season_number'] %></li>
              <li>Episode Count: <%= season['episode_count'] %></li>
              <li>Air Date: <%= season['air_date'] %></li>
              <li>Overview: <%= raw season['overview'] %></li>
            </ul>
            <div class="my-4">
            <%= link_to "New season viewing",
                        new_season_viewing_path(name: season['name'], season_number: season['season_number'],
                                                air_date: season['air_date'], poster_path: season['poster_path'],
                                                episode_count: season['episode_count'], tmdb_id: viewing.tmdb_id,
                                                content_id: season['id'], viewing_id: viewing.id,
                                                overview: season['overview'], show_id: @show),
                        class: "text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
                        text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-pink-800" %>
            </div>
            <hr />
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <div>
        <ul id=<%= viewing.tmdb_id %>>
            <%# data %>
            <%= image_tag("https://image.tmdb.org/t/p/w500/#{@show.poster_path}", class: "object-contain h-80 w-120")%>
            <li>Name: <%= @show.name%> </li>
            <li>Original Language: <%= @show.original_language %> </li>
            <li>Original Name: <%= @show.original_name %> </li>
            <li>Overview: <%= @show.overview %></li>
        </ul>
        <%# link_to "New viewing", new_viewing_path(tmdb_id: data['id'].to_i) %>
        <%# link_to new_viewing_path(data['id'])%>
    </div>
  <% end %>
</div>
