<div id="<%= dom_id viewing %>">
    <div>
        <ul id=<%= viewing.tmdb_id %>>
        <% @show = Show.where(tmdb_id: viewing.tmdb_id).first %>
        <% @user = User.find(viewing.user_id) %>
            <%# data %>
            <%= image_tag("https://image.tmdb.org/t/p/w500/#{@show.poster_path}", class: "object-contain h-80 w-120")%>
            <li>Name: <%= @show.name%> </li>
            <li> Original Language: <%= @show.original_language %> </li>
            <li>Original Name: <%= @show.original_name %> </li>
            <li>Overview: </li> 
        </ul>
        <%# link_to "New viewing", new_viewing_path(tmdb_id: data['id'].to_i) %>
        <%# link_to new_viewing_path(data['id'])%>
    </div>
  <p>
    <strong>Status:</strong>
    <%= viewing.status %>
  </p>
  <p>
    <strong>User:</strong>
    <%= @user.first_name %> <%= @user.last_name %>
  </p>
<% if user_signed_in? && current_user == @user %>
  <p>
    <strong>Personal Note:</strong>
    <%= viewing.note %>
  </p>
<% end %>
</div>
