<div id="<%= dom_id viewing %>">
  <p>
    <strong>Status:</strong>
    <%= viewing.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= viewing.note %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= viewing.name %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= viewing.progress %>
  </p>
  
</div>
