<div class="my-3">
  <h2 class="block mb-2 text-pink-500 font-bold text-2xl">Watcher Profile</h2>
  <ul>
    <li><strong>First Name:</strong> <%= @user.first_name %></li>
    <li><strong>Last Name:</strong> <%= @user.last_name %></li>
    <li><strong>Age:</strong> <%= @user.age %></li>
    <li><strong>Words to Live by:</strong> <%= @user.words_to_live_by %></li>
    <li><strong>Location:</strong> <%= @user.location %></li>
    <% if user_signed_in? && @user != current_user %>
      <p><em>Note, the other user must add you as a friend to complete the friendship</em></p>
      <li><%= button_to "Add Friend", friendships_path(friend_id: @user), :method => :post, class: "inline-block text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg
                        text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-pink-800 mr-4" %></li>
    <% end %>
  </ul>
</div>
<% if user_signed_in? && @user == current_user %>


  <h2 class="block mt-4 mb-2 text-pink-500 font-bold text-2xl">Friends</h2>
  <ul>
    <% @user.friendships.each do |friendship| %>
    <li>
            <%= friendship.friend.first_name  %> <%= friendship.friend.last_name %>
      (<%= link_to "remove", friendship, :method => :delete, class: "underline hover:text-pink-500" %>)
            </li>
    <%  end %>
  </ul>

  <h2 class="block mt-4 mb-2 text-pink-500 font-bold text-2xl">Friended by Watcher</h2>
  <ul>
    <% @user.inverse_friends.each do |user| %>
    <li><%= user.first_name  %> <%= user.last_name %></li>
    <%  end %>
  </ul>
  <h2 class="block mt-4 mb-2 text-pink-500 font-bold text-2xl">Recommended to me</h2>
  <ul>
    <% @user.inverse_recommends.each do |recommend| %>
      <%= link_to recommend do %>
      <li class="underline hover:text-pink-500"><%= recommend.show.name %> - Recommended by: <%= recommend.user.first_name %> <%= recommend.user.last_name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<h2 class="block mt-4 mb-2 text-pink-500 font-bold text-2xl">Watch List</h2>
<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
  <% @user.viewings.each do |viewing| %>
    <% @show = Show.where(tmdb_id: viewing.tmdb_id).first! %>
    <div>
    <ul>
      <p>
        <strong>Status:</strong>
        <% if viewing.status == 'not_started' %>
          Not Started
        <% elsif viewing.status == 'watching' %>
          Watching
        <% elsif viewing.status == 'on_hold' %>
          On Hold
        <% elsif viewing.status == 'finished' %>
          Finished
        <% end %>
      </p>
        <%# data %>
      <%= link_to home_show_path(tmdb_id: @show.tmdb_id) do  %>
        <%= image_tag("https://image.tmdb.org/t/p/w500/#{@show.poster_path}", class: "object-contain h-80 w-120")%>
      <% end %>
      <li><strong>Name:</strong> <%= @show.name %> </li>
      <li><strong>Original Language:</strong> <%= @show.original_language %> </li>
      <li><strong>Original Name:</strong> <%= @show.original_name %> </li>
    </ul>
    </div>
  <% end %>
</div>