<div class="my-3">
  <ul>
    <li>First Name: <%= @user.first_name %></li>
    <li>Last Name:<%= @user.last_name %></li>
    <li>Age: <%= @user.age %></li>
    <li>Words to Live by: <%= @user.words_to_live_by %></li>
    <li>Location: <%= @user.location %></li>
    <% if user_signed_in? && @user != current_user %>
      <li><%= button_to "Add Friend", friendships_path(friend_id: @user), :method => :post %></li>
    <% end %>
  </ul>
</div>
<% if user_signed_in? && @user == current_user %>


  <h2>Friends</h2>
  <ul>
    <% @user.friendships.each do |friendship| %>
    <li>
            <%= friendship.friend.username  %>
      (<%= link_to "remove", friendship, :method => :delete %>)
            </li>
    <%  end %>
  </ul>

  <p><%= link_to "Find Friends", users_path %></p>

  <h2>Friended by User</h2>
  <ul>
    <% @user.inverse_friends.each do |user| %>
    <li><%= user.first_name  %></li>
      <li><%= user.last_name %></li>
    <%  end %>
  </ul>


<% end %>
<h2 class="mb-2 text-xl">Watch List</h2>
<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
  <% @user.viewings.each do |viewing| %>
    <% @show = Show.where(tmdb_id: viewing.tmdb_id).first! %>
    <div>
    <ul>
      <p>
        <strong>Status:</strong>
        <%= viewing.status %>
      </p>
        <%# data %>
      <%= image_tag("https://image.tmdb.org/t/p/w500/#{@show.poster_path}", class: "object-contain h-80 w-120")%>
      <li>Name: <%= @show.name %> </li>
      <li>Original Language: <%= @show.original_language %> </li>
      <li>Original Name: <%= @show.original_name %> </li>
      <li>Overview: <%= @show.overview %></li>
    </ul>
    </div>
  <% end %>
</div>