<div>
  <% if @data != nil %>
    <div>
        <%= image_tag("https://image.tmdb.org/t/p/w500/#{@data['poster_path']}", class: "object-contain h-80 w-120")%>
      <ul>
        <li>Name: <%= @data['name'] %> </li>
        <li>Original Language: <%= @data['original_language'] %> </li>
        <li>Original Name: <%= @data['original_name'] %> </li>
        <li>Overview: <%= @data['overview'] %></li>
        <li>Episode Run Time: <%= @data['episode_run_time'] %> - minutes </li>
        <li>Number of Seasons: <%= @data['number_of_seasons'] %></li>
        <li>Currently Airing: <%= @data['in_production'] == true ? "Airing" : "Not Airing" %></li>
        <% @data['genres'].each do |genre| %>
          <li>Genre: <%= genre['name'] %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <%= link_to "Add to Watch List", new_viewing_path(tmdb_id: @data['id'].to_i,
                                                        original_name: @data['original_name'], original_language: @data['original_language'],
                                                        name: @data['name'], poster_path: @data['poster_path'], overview: @data['overview']),
                  class: "inline-block text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg
                        text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-pink-800" %>
        <%#link_to "Watch List Info", viewing_path(id: current_user.viewings.where(tmdb_id: @data['id']).first!) %>
        <% end %>
      <% if @providers != nil %>
        <p>Streaming services you can watch via:</p>
        <p>This data is provided by JustWatch via Tmdb</p>
        <div class="grid gap-1 grid-flow-row grid-cols-3">
         <% if  @providers['results']['US'] != nil %>
          <% @providers['results']['US']['flatrate'].each do |provider| %>
            <div class="m-2">
              <%= image_tag("https://image.tmdb.org/t/p/w200/#{provider['logo_path']}", class: "object-contain w-20") %>
              <p><% provider['name'] %></p>
            </div>
          <% end %>
        <% end %>
      <%  end %>
      </div>
      <% if @credits != nil %>
        <!-- parent for credits -->
        <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
          <% if @credits['cast'] != nil %>
          <% @credits['cast'].each do |credit| %>
            <div class="m-2">
              <%= image_tag("https://image.tmdb.org/t/p/w300/#{credit['profile_path']}", class: "object-contain h-80 w-100") %>
              <ul>
                <li>Actor/Actress: <%= credit['name'] %></li>
                <li>Character name: <%= credit['character'] %></li>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <h3 class="mb-3 text-2xl font-bold">Seasons</h3>
      <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
        <% @data['seasons'].reverse.each do |season| %>
          <% if season['season_number'] != 0 %>
            <div id=<%= season['id'] %>, class="m-2">
              <ul>
                <li><%# season %></li>
                <%= image_tag("https://image.tmdb.org/t/p/w500/#{season['poster_path']}", class: "object-contain h-80 w-120")%>
                <li>Season Number: <%= season['season_number'] %></li>
                <li>Episode Count: <%= season['episode_count'] %></li>
                <li>Air Date: <%= season['air_date'] %></li>
                <li>Overview: <%= raw season['overview'] %></li>
              </ul>
              <div class="my-4">
                <%= link_to "View Season Info",
                            home_season_path(tmdb_id: @data['id'], season_number: season['season_number']),
                            class: "text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
                        text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-blue-800" %>
              </div>
              <hr />
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <h2 class="font-bold text-2xl text-red-500">We had trouble pulling information about this show from TMDB. Try again later!</h2>
  <% end %>

</div>