<div id="<%= dom_id recommend %>">
  <p>
    <strong>
    Recommender:
    </strong>
    <%= recommend.user.first_name %> <%= recommend.user.last_name %>
  </p>
  <p class="mb-2">
    <strong>Friend:</strong>
    <%= recommend.friendship.friend.first_name %> <%= recommend.friendship.friend.last_name %>
  </p>
  <%= link_to home_show_path(tmdb_id: recommend.show.tmdb_id) do %>
  <%= image_tag("https://image.tmdb.org/t/p/w500/#{recommend.show.poster_path}", class: "object-contain h-80 w-120")%>
  <% end %>
  <p>
    <strong>Original language:</strong>
    <%= recommend.show.original_language %>
  </p>

  <p>
    <strong>Original name:</strong>
    <%= recommend.show.original_name %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= recommend.show.name %>
  </p>

  <% if action_name == 'show' %>
    <p class="mb-3">
      <strong>Overview:</strong>
      <%= recommend.show.overview %>
    </p>

    <h2 class="text-2xl block text-pink-500">Chat Messages</h2>
    <div>
      <%= render @recommend.chats %>
    </div>
    <%= render partial: 'chats/form', locals: { chat: @recommend.chats.build } %>
  <% end %>
</div>
