<div id="<%= dom_id recommend %>">
  <p>
    <strong>User:</strong>
    <%= recommend.user_id %>
  </p>

  <p>
    <strong>Friend:</strong>
    <%= recommend.friend_id %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= recommend.show_id %>
  </p>

  <p>
    <strong>Tmdb:</strong>
    <%= recommend.tmdb_id %>
  </p>

</div>
