<div id="<%= dom_id show %>">

  <%= image_tag("https://image.tmdb.org/t/p/w500/#{show.poster_path}", class: "object-contain h-80 w-120")%>
  <p>
    <strong>Original language:</strong>
    <%= show.original_language %>
  </p>

  <p>
    <strong>Original name:</strong>
    <%= show.original_name %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= show.overview %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= show.name %>
  </p>

</div>
