<div id="<%= dom_id show %>">
  <p>
    <strong>Tmdb:</strong>
    <%= show.tmdb_id %>
  </p>

  <p>
    <strong>Origin country:</strong>
    <%= show.origin_country %>
  </p>

  <p>
    <strong>Original language:</strong>
    <%= show.original_language %>
  </p>

  <p>
    <strong>Original name:</strong>
    <%= show.original_name %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= show.overview %>
  </p>

  <p>
    <strong>Poster path:</strong>
    <%= show.poster_path %>
  </p>

  <p>
    <strong>First air date:</strong>
    <%= show.first_air_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= show.name %>
  </p>

</div>
