<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.label :recommend, style: "display: block" %>
    <%= form.number_field :recommend %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :viewing_id, style: "display: block" %>
    <%= form.text_field :viewing_id %>
  </div>

  <div>
    <%= form.label :show_id, style: "display: block" %>
    <%= form.number_field :show_id %>
  </div>

  <div>
    <%= form.label :movie_id, style: "display: block" %>
    <%= form.number_field :movie_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
