<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= form.label :rating, "0-5 Stars" ,style: "display: block" %>
      <%= form.number_field :rating, in: 0..5 %>
    </div>
    <div>
      <%= form.label :recommend, "Would you recommend this show to people?" %>
    <div>
      <%= form.label :recommend, "No Judgement", style: "display: block" %>
      <%= form.radio_button :recommend, 'no_judgement' %>
    </div>
    <div>
      <%= form.label :recommend, "No", style: "display: block" %>
      <%= form.radio_button :recommend, 'no' %>
    </div>
    <div>
      <%= form.label :recommend, "Maybe", style: "display: block" %>
      <%= form.radio_button :recommend, 'maybe' %>
    </div>
    <div>
      <%= form.label :recommend, "Yes", style: "display: block" %>
      <%= form.radio_button :recommend, 'yes' %>
    </div>
  </div>
  <div>
    <%= form.label :content, "Review:", style: "display: block" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.hidden_field :viewing_id, value: params[:viewing_id].to_i %>
  </div>
  <div>
    <%= form.hidden_field :tmdb_id, value: params[:tmdb_id].to_i %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
