<!DOCTYPE html>
<html>
  <head>
    <title>TalkShow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <!-- navbar -->
    <%= render 'layouts/navbar2' %>
    <!-- alerts -->
    <%= render 'layouts/alerts' %>
    <!-- content -->
    <div class="bg-white dark:bg-black container mx-auto mt-10 px-5 flex">
      <div class="w-full">
      <%= yield %>
      </div>
    </div>
    <script>
      // This is for using the tailwind-hamburgers plugin
        const tham = document.querySelector(".tham");

        tham.addEventListener('click', () => {
            tham.classList.toggle('tham-active');
        });
    </script>
  </body>
</html>
